<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/nav.ejs')%>
      <main class="container">
        <h3>Admin Products</h1>
          <hr>
          <% if (prods.length> 0){ %>
            <div class="row">
              <% for (let product of prods) {%>
                <div class="col-4 mb-3">
                  <article class="card">
                    <img src=" <%= product.imageUrl %>" alt="<%= product.title %>" class="card-img-top">

                    <header class="card-header">
                      <h1 class="card-title">
                        <%= product.title %>
                      </h1>
                    </header>

                    <div class="card-body">
                      <h2>
                        $<%= product.price %>
                      </h2>
                      <p>
                        <%= product.description %>
                    </div>

                    <div class="card-footer bg-white border-top-0 d-flex justify-content-around">
                      <a href="/admin/edit-product/<%= product.id %>?edit=true" class="addBtn">Edit Cart</a>
                      <form action="/admin/delete-product" method="POST">
                        <input type="hidden" value="<%= product.id %>" name="productId">
                        <button class="delBtn" type="submit">Delete</button>
                      </form>
                    </div>
                </div>
                <% } %>
                  </article>
            </div>

            <% } else { %>

              <div class="container">
                <div class="jumbotron">
                  <p>Currently there are no products...</p>
                  <a class="addBtn" href="add-product">Add Product</a>
                </div>
              </div>
              <% } %>

      </main>
      <%- include('../includes/end.ejs')%>