<nav class=" d-flex navbar navbar-expand-sm bg-dark flex-column">
    <div class="d-flex justify-content-between w-100">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="AG Logo" style="width: 25px;">
        </a>

        <button id="btnMenu" onclick="buttonclick()">
            <div id="line1"></div>
            <div></div>
            <div></div>
        </button>
    </div>

    <div class="d-flex flex-column w-100 mt-2">
        <ul id="menu" class="menuOff">
            <li class="mt-2">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>

            <li>
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>

            <li>
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>

            <li>
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>

            <li>
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add
                    Product</a>
            </li>

            <li>
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>

            <li>
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>

        </ul>
    </div>
</nav>