<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/nav.ejs')%>
      <main class="container">
        <h3>My Products - Index</h1>
          <hr>
          <% if (prods.length> 0){ %>
            <div class="row">
              <% for (let product of prods) {%>
                <div class="col-sm-6 col-lg-4 mb-3">
                  <article class="card">
                    <header class="card-header">
                      <h1 class="card-title">
                        <%= product.title %>
                      </h1>
                    </header>
                    <img src=" <%= product.imageUrl %>" alt="<%= product.title %>" class="card-img-top">

                    <div class="card-body">
                      <h2>$<%= product.price %>
                      </h2>
                      <p>
                        <%= product.description %>
                      </p>
                    </div>

                    <div class="card-footer text-center bg-white border-top-0 d-flex justify-content-around">
                      <a href="/products/<%= product._id %>" class="detBtn">Details</a>
                      <% if (isAuthenticated) { %>
                        <%- include('../includes/add-to-cart.ejs', {product: product})%>
                          <% } %>
                    </div>
                </div>
                <% } %>
                  </article>
            </div>

            <% } else { %>

              <div class="container">
                <div class="jumbotron">
                  <h1>Oops!</h1>
                  <p>There are no current books listed. Let's add some!</p>
                  <a class="addBtn" href="../admin/add-product">Add Product</a>
                </div>
              </div>
              <% } %>

      </main>
      <%- include('../includes/end.ejs')%>