<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/nav.ejs')%>
      <main class="container">
        <h3>My Products</h3>
        <hr>
        <% if (prods.length> 0){ %>
          <div class="row">
            <% for (let product of prods) {%>

              <div class="col-md-4 col-xs-6 col-lg-3 mb-3">

                <article class="card border-0">
                  <a href="/products/<%= product._id %>" class="product-detail">
                    <img src=" <%= product.imageUrl %>" alt="<%= product.title %>" class="card-img-top">

                    <div class="card-body">
                      <div class="product-title">
                        <%= product.title %>
                      </div>

                      <p class="prod-desc">
                        <%= product.description %>
                      </p>
                      <div class="prod-price">
                        $<%= product.price %>
                      </div>

                    </div>
                  </a>
                  <div class="card-footer d-flex justify-content-around bg-white border-top-0">

                    <% if (isAuthenticated) { %>
                      <%- include('../includes/add-to-cart.ejs', {product: product})%>
                        <% } %>
                  </div>
              </div>
              <% } %>
                </article>

          </div>

          <% } else { %>

            <div class="container">
              <div class="jumbotron">
                <h1>Oops!</h1>
                <p>There are no current books listed. Let's add some!</p>
                <a class="addBtn" href="../admin/add-product">Add Product</a>
              </div>
            </div>
            <% } %>

      </main>
      <%- include('../includes/end.ejs')%>